//flows
.btn {
    text-transform: none;
    margin-bottom: 0.8%;
    margin-left: 83.63% !important;
    margin-top: -8.2% !important;
    background: #54B55D !important;
    font-family: monospace;
}

.btn:hover {
    background-color: #4c497e;
    color: white;
}

.a {
    margin-top: -2%;
}

.btn1 {
    text-transform: none;
    white-space: nowrap;
    justify-content: left !important;
    margin-bottom: -1.3% !important;
    margin-left: -1.2% !important;
    background: #17706E !important;
    font-family: system-ui;
    width: 101.2%;
    margin-top: 0.7% !important;
    min-height: 90px;
    color: white !important;
    font-weight: 600;
    font-size: 15px !important;
}

.btn1:hover {
    background-color: #135352 !important;
    color: white !important;
}

.b {
    text-align: left;
    margin-left: 0.3%;
}

.c {
    margin-top: 2%;
    width: 120px;
    margin-left: -4%;
}

.btn2 {
    width: 300%;
}

.text1 {
    border-radius: 10px !important;
    width: 290%;
    min-height: 33px !important;
    background-color: #F4E798;
    padding-left: 10px !important;
    padding-top: 6px !important;
}

input {
    color: white;
}

.btn3 {
    text-transform: none;
    margin-top: -1px;
    border-radius: 10px !important;
    margin-left: -9px;
    background: #FB7813 !important;
    font-family: monospace;
    min-width: 45px;
    min-height: 39px !important;
    border: 1;
    border-color: white;
}

.btn3:hover {
    background-color: #da6913 !important;
    color: white;
}

.icon {
    color: rgb(243, 243, 243);
    margin-right: -13px;
}

.d {
    text-align: left;
}

.e {
    font-size: 11px;
    color: rgb(219, 216, 216);
    font-weight: normal;
    font-family: Comic Sans MS, Comic Sans, cursive	;
}

.f {
    margin-bottom: 25px;
    position: absolute;
    margin-left: 89%;
}

.btn4 {
    text-transform: none;
    background: #FB7813 !important;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -69% !important;
    font-family: monospace;
    min-width: 40px;
    min-height: 30px;
}

.btn4:hover {
    background-color: #da6913 !important;
    color: black;
}

.btn5 {
    text-transform: none;
    margin-left: 10px;
    background: #FB7813 !important;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14% !important;
    font-family: monospace;
    min-width: 40px;
    min-height: 30px;
}

.btn5:hover {
    background-color: #da6913 !important;
    color: black;
}

